<header class="header-container">
  <nav>
    <img src="../../assets/images/output-onlinepngtools.png" alt="Logo X" />
    <ul class="menus">
      <li>
        <a routerLink="home" class="btn btn-menu" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="blog" class="btn btn-menu" routerLinkActive="active"
          >Blog</a
        >
      </li>
      <li>
        <a href="#contato" class="btn btn-menu">Contato</a>
      </li>
    </ul>
  </nav>
</header>
