<header class="header-container">
  <nav>
    <img src="../../assets/images/output-onlinepngtools.png" alt="Logo X" />
    <ul class="menus">
      <li>
        <a
          (click)="mudarPagina(0)"
          class="btn btn-menu"
          [ngClass]="pagina == 0 ? 'active' : ''"
          >Home</a
        >
      </li>
      <li>
        <a
          (click)="mudarPagina(1)"
          class="btn btn-menu"
          [ngClass]="pagina == 1 ? 'active' : ''"
          >Blog</a
        >
      </li>
      <li>
        <a (click)="mudarPagina(0)" href="#contato" class="btn btn-menu"
          >Contato</a
        >
      </li>
    </ul>
  </nav>
</header>
