.card {
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.451), rgba(0, 0, 0, 0.45)), url(../../assets/images/professional-programmer-working-late-in-the-dark-office.png);
    // background-size: cover;
    // background-position: -180px;
    box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    list-style: none;
    height: 450px;
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2em;
}
.descricao {
    padding: 0 10%;
}
.descricao > h2 {
    font-weight: 600;
    font-size: 1.4em;
    color: #FFFFFF;
}
.descricao > p {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.67);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.btn-card {
    background-color: #2850D1;
    width: 250px;
    height: 45px;
}