<form action="" class="form">
  <fieldset>
    <div>
      <div class="control-group">
        <div>
          <label for="cNome">Nome*</label
          ><input
            type="text"
            name="cNome"
            id="cNome"
            placeholder="Informe seu nome"
            required
          />
        </div>
        <div>
          <label for="cEmail">Email*</label
          ><input
            type="email"
            name="cEmail"
            id="cEmail"
            placeholder="Informe seu email"
            required
          />
        </div>
      </div>
      <div class="control-group">
        <div>
          <label for="cSobrenome">Sobrenome</label
          ><input
            type="text"
            name="cSobrenome"
            id="cSobrenome"
            placeholder="Informe seu sobrenome"
          />
        </div>
        <div>
          <label for="cTelefone">Telefone</label
          ><input
            type="tel"
            name="cTelefone"
            id="cTelefone"
            placeholder="Informe seu telefone"
          />
        </div>
      </div>
    </div>
    <div class="control-group">
      <label for="cMensagem">Mensagem*</label
      ><input
        type="text"
        name="cMensagem"
        id="cMensagem"
        placeholder="Manda aí a sua mensagem pra gente ;)"
        required
      />
    </div>
    <div>
      <label for="bSubmit"></label>
      <input
        type="submit"
        value="Enviar mensagem"
        id="bSubmit"
        class="btn btn-card"
      />
    </div>
  </fieldset>
</form>
